.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify {
    top: 20px;
    position: absolute;
    z-index: 999;
    width: 768px;
    padding: 10px 8px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 2px;
    background: rgba(22, 24, 35, 0.67);
    backdrop-filter: blur(5px);
    animation: slideAnimation 2.2s ease-in-out forwards;
}

.container {
    width: var(--default-layout-width);
    margin-top: var(--default-layout-header-high);
    display: flex;
    position: relative;
    height: 100vh;
}

.content {
    width: calc(100% - 250px); /* 250px là chiều rộng của sidebar */
    margin-left: 250px; /* Đẩy nội dung sang phải */
    flex-grow: 1; /* Chiếm toàn bộ không gian còn lại */
    position: relative; /* Để đặt background image */
    z-index: 1; /* Đảm bảo background nằm dưới các lớp khác */
    overflow: hidden; /* Ngăn nội dung tràn ra ngoài */
}

.content::before {
    content: ''; /* Tạo lớp phủ background */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Hoặc dùng cover */
    object-fit: cover;
    background-image: url(''); /* Đường dẫn đến ảnh của bạn */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Background nằm dưới nội dung */
}

@keyframes slideAnimation {
    0% {
        transform: translateY(-60px);
    }
    15% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-70px);
    }
}
